{% extends "base.html" %}
{% block title %}Thanks for registering.{% endblock %}
{% block content %}

Dear {{name}},

<br/><br/>

Thank you for registering for the event. Here is your submission details for your record.
Your registration is not complete until you have paid for your lunch boxes.

<table class="table table-striped table-bordered">
    <thead><tr><th>Section</th><th>Your Value</th></tr></thead>
    <tbody>
    <tr><td>Name</td><td>{{name}}</td></tr>
    <tr><td>Spouse</td><td>{{spouse}}</td></tr>
    <tr><td>Family</td><td>{{family}}</td></tr>
    <tr><td>Adults</td><td>{{adults}}</td></tr>
    <tr><td>Total Adults Cost</td><td>{{total_adults_cost}}</td></tr>
    <tr><td>Kids</td><td>{{kids}}</td></tr>
    <tr><td>Total Kids Cost</td><td>{{total_kids_cost}}</td></tr>
    <tr><td><strong>Total Food Cost</strong></td><td><strong>{{total_food_cost}}</strong></td></tr>
    </tbody>
</table>

<br/><br/>

<a href="http://baysourashtra.appspot.com/pay/{{email}}">Your Payment Link</a><br/><br/>

Once you have paid online, your payment record will be updated.

<br/><br/>

Thank you,<br/>
Bay Area Sourashtra Organizers<br/>

</div>

{% endblock %}