{% extends "base.html" %}
{% block title %}Thanks for registering.{% endblock %}
{% block sidemenu %} {% endblock %}
{% block content %}

Dear {{name}},

<br/><br/>

Thank you for registering for the event. Here is your submission details for your record.
Your registration is not complete until you have paid for the event.

<table class="table table-striped table-bordered">
    <thead><tr><th>Section</th><th>Your Value</th></tr></thead>
    <tbody>
    <tr><td>Name</td><td>{{name}}</td></tr>
    <tr><td>Spouse</td><td>{{spouse}}</td></tr>
    <tr><td>Family</td><td>{{family}}</td></tr>
    <tr><td>Adults</td><td>{{adults}}</td></tr>
    <tr><td>Total Adults Cost</td><td>{{total_adults_cost}}</td></tr>
    <tr><td>Kids</td><td>{{kids}}</td></tr>
    <tr><td>Total Kids Cost</td><td>{{total_kids_cost}}</td></tr>
    <tr><td><strong>Total Diwali Party Charge</strong></td><td><strong>{{total_food_cost}}</strong></td></tr>
    </tbody>
</table>
If you have not paid already, here is your <a href="http://diwali2016.thinnal.org/pay/{{email}}">payment link</a>
Once you have paid online, your payment record will be updated.<br/><br/>

Finally, socialize and get to know other Sourashtra friends in the Bayarea at
<a href="http://www.thinnal.org">http://www.thinnal.org</a>.
<br/><br/>
Thank you,<br/>
Bay Area Sourashtra Organizers<br/>

</div>

{% endblock %}
