{% extends "base.html" %}
{% block title %}Registration{% endblock %}


{% block header %}
<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Bay Area Sourashtra</h1>
        <h2><em>Diwali Party 2015</em></h2>
        <h3>
            <em>November, 15, 2015, 11:00 AM to 04:30 PM</em><br/>
            <em>Golden Peacock Banquet, Hayward, CA 94544</em><br/>
        </h3>
        <a href="#orderform" class="btn btn-success btn-lg">Please Pay Now</a>
    </div>
</div>
{% endblock %}
<!-- /Full Page Image Header Area -->

{% block content %}

<!-- Call to Action -->
<div id="orderform" class="services">
    <div class="container">
        <form action="/" method="post" class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend class="vert-text">
                    Date: November 15,2015, 11:00 AM to 04:30 PM<br>
                    Location: Golden Peacock Banquet, Hayward, CA 94544
                </legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name</label>
                    <div class="col-md-4">
                        <input id="name" name="name" type="text" placeholder="Ayyan Naau" class="form-control input-md" required="">
                        <span class="help-block">e.g. Venkatesh</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="spouse">Spouse Name</label>
                    <div class="col-md-4">
                        <input id="spouse" name="spouse" type="text" placeholder="Amman Naau" class="form-control input-md">
                        <span class="help-block">e.g. Shanmuga Priya</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="family">Family Name</label>
                    <div class="col-md-4">
                        <input id="family" name="family" type="text" placeholder="Gher Naau" class="form-control input-md" required="">
                        <span class="help-block">e.g. Appiah</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-4">
                        <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
                        <span class="help-block">email you used in the evite so that we can match your order</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <input id="helptxt" name="help" type="hidden" placeholder="" class="form-control input-md" required="">
                        <span class="help-block vert-text">General Ticket Price, aged 11 and above is <strong>{{adults_cost|format_currency}} USD </strong>.<br/>
                            Kids between 5 to 10 have special price <strong>{{kids_cost|format_currency}} USD.</strong></span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="adults">General Ticket (Age 11 and above)</label>
                    <div class="col-md-4">
                        <select id="adults" name="adults" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="kids">Kids (Aged 5 to 10)</label>
                    <div class="col-md-4">
                        <select id="kids" name="kids" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button id="submit" name="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
{% endblock %}
<!-- /Call to Action -->
