{% extends "base.html" %}
{% block title %}Register for Games{% endblock %}
{% block content %}
<div class="services">
    <div class="container">
        <img src='http://www.benchmarkevents.com/images/web4/misc/event-register-banner.png'>
        <h2>Bay Area Diwali 2015 -Adult and Kid Game Registration</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="http://tinyurl.com/adult-antakshari" target="_blank">Antakshari for Adults.</a></li>
            <li class="list-group-item"><a href="http://tinyurl.com/performances-2015" target="_blank">Adult/Kids Group performances</a></li>
            <li class="list-group-item"><a href="http://tinyurl.com/kid-balloon-pop" target="_blank">Mommy/Daddy and Me Game. (Balloon Pop) - Age 4 - KinderGarten</a></li>
            <li class="list-group-item"><a href="http://tinyurl.com/musical-chair-2015" target="_blank">Mommy/Daddy help Me find my chair! (Musical Chair) - Grade 1 to Grade 3</a></li>
            <li class="list-group-item"><a href="http://tinyurl.com/kid-team-relay" target="_blank">Team relay - Grade 4 to Grade 9</a></li>
        </ul>
        <a href="/" class="btn btn-success btn-lg">Go to Main Registration Page.</a>
    </div>
    
</div>
{% endblock %}