{% extends "base.html" %}
{% block title %}List of Users who have registered{% endblock %}
{% block content %}

<div class="portfolio">

<br/><br/>

Following members have registered for the Diwali 2016 gathering using the list.
Payment details will be updated regularly.

<table class="table table-striped table-bordered">
    <thead><tr><th>Name</th><th>Family</th><th>Adults</th><th>Kids</th><th>Total Cost</th><th>Paid</th></tr></thead>
    <tbody>
    {% for record in allrecords %}
    <tr><td>{{record.name}}</td><td>{{record.family}}</td><td>{{record.adults}}</td><td>{{record.kids}}</td><td>{{record.total}}</td><td>{{record.paid}}</td></tr>
    {% endfor %}
    <tfoot>
    <tr><td><strong>Total Families: {{total_registered}}</strong></td><td>-</td><td><strong>{{total_adults}}</strong></td><td><strong>{{total_kids}}</strong></td><td><strong>{{total_payment}}</strong></td><td><strong>Received: {{total_received}}/Net: {{net_received|format_currency}}</strong></td></tr>
    </tfoot>
    </tbody>
</table>

</div>

</div>

{% endblock %}
