{% extends "base.html" %}
{% block title %}Thanks for registering.{% endblock %}
{% block sidemenu %} {% endblock %}
{% block content %}

<div class="portfolio">


<div class="jumbotron">
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                Step 1: If you have a Bank of America Account, transfer $ {{total_food_cost}} USD to Bank of America Account Number: 325065993264
            </div>
            <div>
                Step 2: Email orsenthil@gmail.com once you have transferred. Please do this within 1 day to track your payment.
            </div>
        </div>
    </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div>
                Step 1: If you have paypal with balance, Log into PayPal account.
            </div>
            <div>
                Step 2: Click on Money Tab and Select Send money.
            </div>
            <div>
                Step 3: Select "Send Money to Family and Friends".
            </div>
            <div>
                Step 4: Enter email address "orsenthil@gmail.com"
            </div>
            <div>
                Step 5: Send ${{total_food_cost}} USD and Continue with your Transaction.
            </div>

        </div>
    </div>
    </div>
</div>

</div>

{% endblock %}
