{% extends "base.html" %}
{% block title %}PayPal{% endblock %}
{% block content %}

Thank you! Your response has been recorded.<br/><br/>
You can <a href="/">change your selection</a>, if you wish to.<br/><br/>

<table class="table table-striped table-bordered">
    <thead><tr><th>Section</th><th>Your Value</th></tr></thead>
    <tbody>
        <tr><td>Name</td><td>{{name}}</td></tr>
        <tr><td>Spouse</td><td>{{spouse}}</td></tr>
        <tr><td>Family</td><td>{{family}}</td></tr>
        <tr><td>Veg</td><td>{{veg}}</td></tr>
        <tr><td>Total Veg Cost</td><td>{{total_veg_cost}}</td></tr>
        <tr><td>Non-Veg</td><td>{{nonveg}}</td></tr>
        <tr><td>Total Non Veg Cost</td><td>{{total_non_veg_cost}}</td></tr>
        <tr><td><strong>Total Food Cost</strong></td><td><strong>{{total_food_cost}}</strong></td></tr>
    </tbody>
</table>






<div class="jumbotron">

Please pay USD <strong>{{total_food_cost}}</strong> upfront using Paypal button below.<br/><br/>

<!-- https://www.paypal.com/cgi-bin/webscr?cmd=p/pdn/howto_checkout-outside -->


<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="orsenthil@gmail.com">
    <input type="hidden" name="item_name" value="Total Price for Lunch">
    <input type="hidden" name="item_number" value="Sou2014">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="amount" value="{{total_food_cost}}">
    <input type="hidden" name="return" value="http://baysourashtra.appspot.com/thanks">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>

{% endblock %}
