{% extends "base.html" %}
{% block title %}Step by Step{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <h3>
                Step1. Choose Pay using Debit Card/ Credit Card Section. Provide correct details.
            </h3>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <img alt="Step1" src="/static/Step1.png" />
                </div>
            </div>

            <h3>
                Step 2. Proceed to payment. Say, "No, Thanks" to register to Paypal.
            </h3>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <img alt="Step2" src="/static/Step2.png" />
                </div>
            </div>


            <h3>
                Step 3. Confirmation! You will get an email too.
            </h3>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <img alt="Step3" src="/static/Step3.png" />
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
